:root {
    --primary-color: #0f0f1e;
    --white-color: #ffffff;
    --logo-color: #00f7ff;
    --text-shadow-color: rgba(0, 247, 255, 0.5);
    --bkgd-container2-color: #1f1f3a;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 90vw;
    top: 0;
    padding: 20px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.logo {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 900;

    color: var(--logo-color);
    text-shadow: 0 0 10px var(--text-shadow-color);
}

.logo span {
    text-transform: uppercase;
}

header nav ul {
    display: flex;

    gap: 48px;
}


header nav ul li {
    cursor: pointer;
    /* pai do debaixo */
    position: relative;
    padding: 5px 0;
}

header nav ul li::after {
    content: "";
    /* filho do de cima */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--logo-color);

    transition: width 0.5s ease;
}

header nav ul li:hover::after {
    width: 100%;
}

header nav ul li a {
    color: var(--white-color);
    text-decoration: none;
}

header nav ul li a span {
    text-transform: uppercase;
}

.container {
    height: 100vh;
    position: relative;

    background: linear-gradient(135deg, var(--primary-color) 0%, var(--bkgd-container2-color) 100%);

    overflow: hidden;
}

.container::before {
    content: "";
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 247, 255, 0.2) 0%, rgba(15, 15, 30, 0) 70%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(50px);
    z-index: 1;

    animation: pulse 4s infinite alternate;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.5);
    }
}

.list {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.item {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.active {
    opacity: 1;
}