
:root {
    --primary-color: #0f0f1e;
    --white-color: #ffffff;
    --logo-color: #00f7ff;
    --text-shadow-color: rgba(0, 247, 255, 0.5)
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 90vw;
    top: 0;
    padding: 20px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.logo {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 900;

    color: var(--logo-color);
    text-shadow: 0 0 10px var(--text-shadow-color);
}

.logo span {
    text-transform: uppercase;
}

header nav ul {
    display: flex;

    gap: 48px;
}


header nav ul li {
    cursor: pointer;
    /* pai do debaixo */
    position: relative;
    padding: 5px 0;
}

header nav ul li::after {
    content: "";
    /* filho do de cima */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--logo-color);

    transition: width 0.5s ease;
}

header nav ul li:hover::after {
    width: 100%;
}

header nav ul li a {
    color: var(--white-color);
    text-decoration: none;
}

header nav ul li a span {
    text-transform: uppercase;
}