
:root {
    --primary-color: #0f0f1e;
    --white-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 90vw;
    top: 0;
    padding: 20px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}



